<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>Registrar Libro</title>

    <style>
        body, html {
            height: 100%;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        form {
            max-width: 600px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <div th:if="${registroCorrecto}" class="alert alert-success mt-4" role="alert">
            <span th:text="${registroCorrecto}"></span>
        </div>
        <form th:action="@{/registrar_libro}" method="post" th:object="${libro}" enctype="multipart/form-data">
            <h3 class="text-center mb-4">Registrar Libro</h3>
            <div class="form-group">
                <label for="validationCustom02">Título:</label>
                <input th:field="*{titulo}" type="text" class="form-control" id="validationCustom02" required>
            </div>
            <div class="form-group">
                <label for="validationCustom02">Autor:</label>
                <input th:field="*{autor}" type="text" class="form-control" id="validationCustom02" required>
            </div>
            <div class="form-group">
                <label for="validationCustom01">ISBN:</label>
                <input th:field="*{ISBN}" type="number" class="form-control" id="validationCustom01" required
                       minlength="8" maxlength="8" min="10000000" max="99999999">
            </div>
            <div class="form-group">
                <label for="categoriaEntity">Categoría:</label>
                <select th:field="*{categoriaEntity}" class="form-control" id="categoriaEntity" required>
                    <option th:each="categoria : ${categorias}" th:value="${categoria.idCategoria}" th:text="${categoria.nombreCategoria}"></option>
                </select>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Foto Libro:</label>
                        <input name="foto" accept="image/*" required type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="disponible">¿Está disponible?</label>
                        <div class="form-check">
                            <input type="checkbox" th:field="*{disponible}" class="form-check-input" id="disponible">
                            <label class="form-check-label" for="disponible">Disponible</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-secondary" href="/">Regresar</a>
                <button class="btn btn-primary" type="submit">Añadir Libro</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCX9Rkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>
